<div class="page-title">
  <h4>
    <a routerLink="/order">Заказ</a>
    <i class="material-icons">keyboard_arrow_right</i>
    Добавить продукцию
  </h4>
  <app-button color="grey" (click)="openModal('orderSum')"
    ><i class="material-icons">add_shopping_cart</i>
    <div *ngIf="orderBuilder.orderList.length > 0" class="cart-counter">
      <span>{{ orderBuilder.orderList.length }}</span>
    </div>
  </app-button>
</div>

<app-products-list
  *ngIf="
    (isLoading$ | async) == false && (positions$ | async) as positions;
    else loader
  "
  [positions]="positions"
  (addItem)="addItem($event)"
></app-products-list>

<app-order-cart
  [currentModal]="modalOpenType$ | async"
  [orderList]="orderBuilder.orderList"
  [price]="orderBuilder.price"
  (closeModal)="closeModal()"
  (deleteItem)="deleteItem($event)"
  (submit)="submitOrder()"
></app-order-cart>

<ng-template #loader>
  <div class="center">
    <app-loader></app-loader>
  </div>
</ng-template>
